<style> @import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');</style>




body{
    font-family: 'Kaushan Script', cursive;
   
}
main {
    display: flex;
    flex-direction: column;
   align-items: center;
}

.container {
    background-color: rgba(245, 245, 245, 0.911);
    width: 870px;
    padding: 30px;
    margin-top: 21px;
    border-radius: 10px;
}

hr {
    border: 1px solid #eccdcd;
   margin-bottom: 30px;
}

.section-title {
    color: rgb(250, 14, 14);
    font-size: 24px;
    margin-top: 13px;
}

.players{
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-row-gap: 30px;

}
.player{
    display: flex;
    align-items: center;
}

.player img{
    width: 56px;
    height: 56px;
}
.player-name{
    margin-left: 16px;
    font-size: 18px;
 
}

.top-players{

    margin-bottom: 30px;
}
 
.blog{
    display:flex;
}


 .blog .thumbnail img{
     width:177px;
     height: 117px;
 }
.blog-info{
    margin-left: 16px;
}
.blog-title{
    font-size: 20px;
 
}
.blog-author{
    color: rgb(67, 172, 93);
    font-size: 16px;
}
.blog-author a{
    text-decoration: none;
    font-size: 16px;
    color: hsl(323, 86%, 51%);
}
.blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 26px;
}
.img-container {
    text-align: center;
    display: block;
    
  }
  .imgDesign{
    height: 150px;
    width: 230px;
    border-radius: 10px 10px 15px 10px;
}
.boxDesign2{
    text-align:left;
    padding-left: 10px;
   
}
.designP{
  color: #eb7575;
} 
.boxDesign1{
    padding-top:22px;
   
  } 
  .box{
    border:1px solid #dff0db;
    float:left;
    height: 380px;
    width: 30%;
    margin: 10px;
    background: linear-gradient(to right, rgb(250, 248, 249), #fdfafa );
    box-shadow: 0 6px 8px 0 rgb(249, 248, 250), 0 10px 50px 0 rgba(22, 0, 0, 0.952);
    border-radius: 9px 9px 13px 11px;
}
.fa-star {
    font-size: 15px;
}
 
 
.fa-star.filled {
    color: #FFC014;
}
 
.fa-star.empty {
    color: #f3a6a6;
}
.fa-accessible-icon{
    color: #e4ded0;
    font-size: 35px;
   
}
/* .course-duration{
    color: rgb(34, 7, 20);
    background: rgb(187, 25, 106);
    height: 20px;
    width: 24px;
    border-radius: 15px;
} */

 /* -- topbar part start here -- */
 .topnav {
    background-color: rgb(36, 15, 226);
    overflow: hidden;
  }
  
 
  .topnav a {
    float:right;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 22px;
  }
  .navbarRight{
    float:left;
    font-size: 22px;
    padding-right: 20px;
    

  }
  
 
  .topnav a:hover {
    background-color: hsl(56, 77%, 57%);
    color: grey;
  }
  
  
  .topnav a.active {
    background-color: #4c6d61;
    color: white;
  }
/* -- topbar part end here -- */



